* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: #d5bc9b;
    height: 40px;
    color: #002147;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.header {
    display: flex;
    color: #d2b48c;
    background-color: #002147;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 70px;
    box-shadow: 0 4px 8px rgba(77, 201, 58, 0.468);
}

.brandName {
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #d2b48c;
    justify-content: center;
    align-items: center;
    color: #002147;
}

.eyes {
    margin: 50px;
}

.firstContent {
    margin-top: 50px;
    max-width: 300px;
    font-size: 50px;
    font-weight: bolder;
}

.secondContent {
    margin-bottom: 30px;
}

.thirdContent {
    height: 25px;
    width: 500px;
}

.lastContent {
    margin: 30px;
    font-weight: bolder;
}



